<!DOCTYPE html>
<html>
  <head>
    <title>TemplateRubyOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class="app">
  
  <div id="sidebar"> 
      <div>
        <a href="/"><h2>PETSHOP</h2></a>
      </div>
    <ul>
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/clients">clients</a>
        </li>
        <li>
          <a href="/pets">pets</a>
        </li>
        </ul>
  </div>

  <div id="navbar">
  </div>

  <div id="content">
    <div class="card">
      <%= yield %>
    </div>  
  </div>
  </body>
</html>
